<h1>Aqui esta-o algumas coisas que ela gostava de fazer.</h1>
<ol>
    <li>
        <h2></h2>
    </li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam vero eaque consequatur in. Natus provident harum dolore itaque nisi, quia quam soluta aliquid deserunt fugit ipsum tenetur sequi dolorem est.</p>
    <h2>segundo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, fugiat modi architecto adipisci deleniti odit culpa commodi quos! Fuga iure dignissimos cupiditate ducimus ex consequuntur dolor, libero nobis pariatur provident.</p>
    <h2>hin</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ipsa, minus eum odit vero quas facilis impedit ratione tempore! Dignissimos molestias incidunt quam dolorem repellendus, iure autem asperiores expedita officia.</p>
    <h2>skin care</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, similique exercitationem. Facilis ipsum aperiam eaque provident eveniet sint, dolor est aliquid, eum cum autem adipisci aspernatur omnis assumenda animi iure?</p>
</ol>
