.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100; /* Ajuste a altura conforme necessário */
    background-color: rgb(30, 30, 30);
  }
  .quadrado {
    width: 60%;
    height: 90%;
    align-items: center;
  }


