<p>aqui vao ficar algumas musicas que ela adorava </p>
<ul>
    <li>
        <h2>Vitroles - Gatinha comunista</h2>
    </li>
    <iframe width="50%" height="315" src="https://www.youtube.com/embed/-baB66elbtc" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <li>
        <h2>Los hermanos - Anna júlia</h2>
    </li>
    <iframe width="50%" height="315" src="https://www.youtube.com/embed/97hee9msbEs" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <li>
        <h2>Love of my life</h2>
    </li>
    <iframe width="50%" height="315" src="https://www.youtube.com/embed/v3xwCkhmies" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <li>
        <h2>Bohemian rhapsody</h2>
    </li>
    <iframe width="50%" height="315" src="https://www.youtube.com/embed/fJ9rUzIMcZQ" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
        <li>
            <h2>Cyndi Lauper - Girls just want to have fun</h2>
        </li>
        <iframe width="50%" height="315" src="https://www.youtube.com/embed/PIb6AZdTr-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <li>
            <h2>Lana del rey - Carmen</h2>
        </li>
        <iframe width="50%" height="315" src="https://www.youtube.com/embed/L6K8Uq88BEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
        <li>
            <h2>Taylor Swift - Blank Space</h2>
        </li>
        <iframe width="50%" height="315" src="https://www.youtube.com/embed/e-ORhEE9VVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   

        <li>
            <h2>Raul Seixas - Metamorfose Ambulante</h2>
        </li>
        <iframe width="50%" height="315" src="https://www.youtube.com/embed/CmB4sfoZkwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <li>
            <h2> Malta - Cala a tua boca na minha </h2>
        </li>
        <iframe width="50%" height="315" src="https://www.youtube.com/embed/IfICXX7HL34" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


        <p>essas musicas eram tudo pra ela a inspiraçao de suas decisoes em vida, tudo o que ela amava estava dentro das
        musicas, e tudo oque sentia tambem.</p>
    <p>clique na logo do spotify para mais informçaoes </p>
    <a target="_blank" href="https://open.spotify.com/playlist/1bVos1klQkRPSBAgySCuOH?si=b2d28a6ae4c943ff">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 975.76 975.76" widht="36" height="36">
            <defs>
                <style>
                    a {
                        fill: #2ebd59;
                        display: flex;
                        justify-content: center;
                        align-items: normal;
                    }

                    a:hover {
                        scale: 1.05;
                        transition: 0.5s;
                    }
                </style>
            </defs>
            <path
                d="M487.87,0V0C218.44,0,0,218.43,0,487.87S218.44,975.76,487.88,975.76,975.76,757.34,975.76,487.87,757.34,0,487.87,0ZM711.61,703.66h0a30.39,30.39,0,0,1-41.82,10.12c-114.56-70-258.77-85.84-428.59-47a30.4,30.4,0,1,1-13.53-59.27C413.52,565,572.94,583.25,701.53,661.83A30.41,30.41,0,0,1,711.61,703.66Zm59.72-132.83A38,38,0,0,1,719,583.35C587.9,502.76,388,479.41,232.86,526.5a38,38,0,1,1-22.11-72.78C387.94,400,608.2,426,758.8,518.54a38,38,0,0,1,12.53,52.29Zm5.13-138.33h0c-157.27-93.4-416.67-102-566.8-56.42a45.63,45.63,0,1,1-26.49-87.33C355.51,236.43,642,246.54,823,354a45.63,45.63,0,0,1-46.57,78.49Z" />
        </svg>
    </a>
</ul>